<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="at.sparklingscience.urbantrees.mapper.AuthMapper">

    <cache/>

    <resultMap id="AuthResultMap" type="Integer">
        <result column="amount" 	property="value" />
    </resultMap>

    <resultMap id="UserMap" type="at.sparklingscience.urbantrees.security.user.User">
        <result column="id" 						property="id" />
        <result column="username" 					property="username" />
        <result column="password" 					property="password" />
        <result column="is_active" 					property="isActive" />
        <result column="is_credentials_non_expired" property="isCredentialsNonExpired" />
        <result column="last_login_dat" 			property="lastLoginDate" />
    </resultMap>

    <select id="hasValidApiKey" resultMap="AuthResultMap">
        select 
		    count(0) as amount
		from 
		    access_data.api_key
		where
		    api_key = #{apiKey}
    </select>

    <select id="findUserByUsername" resultMap="UserMap">
        select
			id,
			username,
			password,
			is_active,
			is_credentials_non_expired,
			last_login_dat
		from
			access_data."user"
		where
			username = #{username}
    </select>
    
    <insert id="insertUser" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into
            access_data.user
            (id, username, password, is_active, is_credentials_non_expired, last_login_dat, cre_dat, mod_dat, cre_usr, mod_usr)
		values 
		    (
		    	default,
		    	#{user.username},
		    	#{user.password},
		    	default,
		    	default,
		    	null,
		    	now(),
		    	now(),
		    	user,
		    	user
	       )
	</insert>
	
	<select id="findSetting" resultType="java.lang.String">
        select
			value
		from
			access_data.settings
		where
			key = #{key}
    </select>
    
</mapper>