<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="at.sparklingscience.urbantrees.mapper.BeaconMapper">

    <resultMap id="BeaconResultMap" type="at.sparklingscience.urbantrees.domain.Beacon">
	    <result column="id" 				property="id" />
	    <result column="device_id" 			property="deviceId" />
	    <result column="tree_id" 			property="treeId" />
	    <result column="bluetooth_address" 	property="bluetoothAddress" />
	    <result column="status" 			property="status" />
    </resultMap>

    <resultMap id="BeaconDatasetResultMap" type="at.sparklingscience.urbantrees.domain.BeaconDataset">
	    <result column="id" 				property="id" />
	    <result column="beacon_id" 			property="beaconId" />
	    <result column="temperature" 		property="temperature" />
	    <result column="humidity" 			property="humidity" />
	    <result column="dew_point" 			property="dewPoint" />
	    <result column="observe_dat" 		property="observationDate" />
    </resultMap>

    <resultMap id="BeaconSettingsResultMap" type="at.sparklingscience.urbantrees.domain.BeaconSettings">
	    <result column="id" 						property="id" />
	    <result column="beacon_id" 					property="beaconId" />
	    <result column="device_name" 				property="deviceName" />
	    <result column="firmware_version_code" 		property="firmwareVersionCode" />
	    <result column="transmit_power_db" 			property="transmitPowerDb" />
	    <result column="battery_level" 				property="batteryLevel" />
	    <result column="temperature_units" 			property="temperatureUnits" />
	    <result column="memory_capacity" 			property="memoryCapacity" />
	    <result column="ref_time" 					property="refTime" />
	    <result column="device_id" 					property="deviceId" />
	    <result column="phys_button_enabled" 		property="physicalButtonEnabled" />
	    <result column="temperature_calibration" 	property="temperatureCalibration" />
	    <result column="humidity_calibration" 		property="humidityCalibration" />
	    <result column="logging_interval_min" 		property="loggingIntervalMin" />
	    <result column="sensor_interval_sec" 		property="sensorIntervalSec" />
	    <result column="adv_freq_ms" 				property="advertisingFrequencyMs" />
	    <result column="pin" 						property="pin" />
	    <result column="check_dat" 					property="checkDate" />
    </resultMap>

    <select id="findAllBeaconsByStatus" resultMap="BeaconResultMap">
        select
		    id,
			device_id,
		    tree_id,
		    bluetooth_address,
		    status
		from
		    tree_data.beacon
	    where
		    status = #{status}
    </select>

    <select id="findBeaconById" resultMap="BeaconResultMap">
        select
		    id,
			device_id,
		    tree_id,
		    bluetooth_address,
		    status
		from
		    tree_data.beacon
		where
		    id = #{beaconId}
    </select>

    <select id="findBeaconByAddress" resultMap="BeaconResultMap">
        select
		    id,
			device_id,
		    tree_id,
		    bluetooth_address,
		    status
		from
		    tree_data.beacon
		where
		    bluetooth_address = #{address}
    </select>

    <select id="findBeaconDataByBeaconId" resultMap="BeaconDatasetResultMap">
        select
		    d.id,
		    d.beacon_id,
		    d.temperature,
		    d.humidity,
		    d.dew_point,
		    d.observe_dat
		from
		    tree_data.beacon b,
		    tree_data.beacon_data d
		where
		    b.id = #{beaconId}
		    and b.id = d.beacon_id
	        <if test="timespanMin != null">
	            and p.observe_dat &gt;= #{timespanMin}
	        </if>
	        <if test="timespanMax != null">
	            and p.observe_dat &lt;= #{timespanMax}
	        </if>
	    order by
	        d.observe_dat asc
    </select>
    
    <insert id="insertBeaconDatasets" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into
            tree_data.beacon_data
            (beacon_id, humidity, temperature, dew_point, observe_dat, cre_dat, mod_dat, cre_usr, mod_usr)
		values 
		    <foreach collection="datasets" item="dataset" index="index" open="(" separator="),("  close=")">
		    	#{beaconId},
		    	#{dataset.humidity},
		    	#{dataset.temperature},
		    	#{dataset.dewPoint},
		    	#{dataset.observationDate},
		    	now(),
		    	now(),
		    	user,
		    	user
	       </foreach>
	       on conflict do nothing
	</insert>
    
    <insert id="insertBeaconSettings" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into
            tree_data.beacon_data
            (
	            id,
				beacon_id,
				device_name,
				firmware_version_code,
				transmit_power_db,
				battery_level,
				temperature_units,
				memory_capacity,
				ref_time,
				device_id,
				phys_button_enabled,
				temperature_calibration,
				humidity_calibration,
				logging_interval_min,
				sensor_interval_sec,
				adv_freq_ms,
				pin,
				check_dat
			)
		values 
		    <foreach collection="datasets" item="dataset" index="index" open="(" separator="),("  close=")">
		    	default,
				#{beaconId},
				#{settings.deviceName},
				#{settings.firmwareVersionCode},
				#{settings.transmitPowerDb},
				#{settings.batteryLevel},
				#{settings.temperatureUnits},
				#{settings.memoryCapacity},
				#{settings.refTime},
				#{settings.deviceId},
				#{settings.physicalButtonEnabled},
				#{settings.temperatureCalibration},
				#{settings.humidityCalibration},
				#{settings.loggingIntervalMin},
				#{settings.sensorIntervalSec},
				#{settings.advertisingFrequencyMs},
				#{settings.pin},
		    	#{settings.checkDate},
		    	now(),
		    	user,
		    	user
	       </foreach>
	</insert>

    <select id="findLatestBeaconSettingsByBeaconId" resultMap="BeaconSettingsResultMap">
        select
			id,
			beacon_id,
			device_name,
			firmware_version_code,
			transmit_power_db,
			battery_level,
			temperature_units,
			memory_capacity,
			ref_time,
			device_id,
			phys_button_enabled,
			temperature_calibration,
			humidity_calibration,
			logging_interval_min,
			sensor_interval_sec,
			adv_freq_ms,
			pin,
			check_dat
		from
			tree_data.beacon_settings
		where
			beacon_id = #{beaconId}
		order by
			check_dat desc
		limit 1
    </select>
    
    <insert id="insertBeaconLogs" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into
            tree_data.beacon_data
            (
	            id,
				beacon_id,
				severity,
				"type",
				message,
				event_dat,
				settings_id,
				cre_dat,
				cre_usr
			)
		values 
		    <foreach collection="logs" item="log" index="index" open="(" separator="),("  close=")">
		    	default,
				#{beaconId},
				#{log.severity},
				#{log.type},
				#{log.message},
				#{log.eventDate},
				#{log.settingsId},
		    	now(),
		    	user
	       </foreach>
	</insert>

</mapper>