<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="at.sparklingscience.urbantrees.mapper.BeaconMapper">

    <resultMap id="BeaconResultMap" type="at.sparklingscience.urbantrees.domain.Beacon">
	    <result column="id" 				property="id" />
	    <result column="device_id" 			property="deviceId" />
	    <result column="bluetooth_address" 	property="bluetoothAddress" />
	    <result column="status" 			property="status" />
	    <result column="pin" 				property="pin" />
	    
	    <association column="location_id"
				     property="location"
				     select="at.sparklingscience.urbantrees.mapper.TreeMapper.findLocationById" />
	    
	    <association column="tree_id"
				     property="tree"
				     select="at.sparklingscience.urbantrees.mapper.TreeMapper.findTreeLightById" />
    </resultMap>
    
    <resultMap id="BeaconDatasetResultMap" type="at.sparklingscience.urbantrees.domain.BeaconDataset">
	    <result column="id" 				property="id" />
	    <result column="beacon_id" 			property="beaconId" />
	    <result column="temperature" 		property="temperature" />
	    <result column="humidity" 			property="humidity" />
	    <result column="dew_point" 			property="dewPoint" />
	    <result column="observe_dat" 		property="observationDate" />
    </resultMap>

    <resultMap id="BeaconSettingsResultMap" type="at.sparklingscience.urbantrees.domain.BeaconSettings">
	    <result column="id" 						property="id" />
	    <result column="beacon_id" 					property="beaconId" />
	    <result column="device_name" 				property="deviceName" />
	    <result column="firmware_version_code" 		property="firmwareVersionCode" />
	    <result column="transmit_power_db" 			property="transmitPowerDb" />
	    <result column="battery_level" 				property="batteryLevel" />
	    <result column="temperature_units" 			property="temperatureUnits" />
	    <result column="memory_capacity" 			property="memoryCapacity" />
	    <result column="ref_time" 					property="refTime" />
	    <result column="device_id" 					property="deviceId" />
	    <result column="phys_button_enabled" 		property="physicalButtonEnabled" />
	    <result column="temperature_calibration" 	property="temperatureCalibration" />
	    <result column="humidity_calibration" 		property="humidityCalibration" />
	    <result column="logging_interval_sec" 		property="loggingIntervalSec" />
	    <result column="sensor_interval_sec" 		property="sensorIntervalSec" />
	    <result column="adv_freq_ms" 				property="advertisingFrequencyMs" />
	    <result column="pin" 						property="pin" />
	    <result column="check_dat" 					property="checkDate" />
    </resultMap>

    <resultMap id="BeaconLogResultMap" type="at.sparklingscience.urbantrees.domain.BeaconLog">
	    <result column="id" 				property="id" />
	    <result column="beacon_id" 			property="beaconId" />
	    <result column="severity" 			property="severity" />
	    <result column="type" 				property="type" />
	    <result column="message" 			property="message" />
	    <result column="event_dat" 			property="eventDate" />
	    <result column="settings_id" 		property="settingsId" />
    </resultMap>

	<select id="findAllBeaconsActive" resultMap="BeaconResultMap">
        select
		    id,
			device_id,
		    tree_id,
		    bluetooth_address,
		    status,
		    location_id
		from
		    tree_data.beacon
	    where
	    	status != 'DELETED'
    	order by
    		id
    </select>
    
    <select id="findAllBeaconsByStatus" resultMap="BeaconResultMap">
        select
		    id,
			device_id,
		    tree_id,
		    bluetooth_address,
		    status,
		    location_id
		from
		    tree_data.beacon
	    where
		    status = #{status}
    	order by
    		id
    </select>

    <select id="findBeaconById" resultMap="BeaconResultMap">
        select
		    id,
			device_id,
		    tree_id,
		    bluetooth_address,
		    status,
		    location_id
		from
		    tree_data.beacon
		where
		    id = #{beaconId}
		    and status != 'DELETED'
    </select>

    <select id="findBeaconByAddress" resultMap="BeaconResultMap">
        select
		    id,
			device_id,
		    tree_id,
		    bluetooth_address,
		    status,
		    location_id
		from
		    tree_data.beacon
		where
		    bluetooth_address = #{address}
		    and status != 'DELETED'
    </select>

    <select id="findBeaconDataByBeaconId" resultMap="BeaconDatasetResultMap">
        with help as 
        (
	        select
			    d.id,
			    d.beacon_id,
			    d.temperature,
			    d.humidity,
			    d.dew_point,
			    d.observe_dat
			from
			    tree_data.beacon b,
			    tree_data.beacon_data d
			where
			    b.id = #{beaconId}
			    and b.id = d.beacon_id
		        <if test="timespanMin != null">
		            and d.observe_dat &gt;= #{timespanMin}
		        </if>
		        <if test="timespanMax != null">
		            and d.observe_dat &lt;= #{timespanMax}
		        </if>
		    order by
		        d.observe_dat desc
	        <if test="maxDatapoints != -1">
	            limit #{maxDatapoints}
	        </if>
        )
        select
        	*
       	from
       		help
    	order by
    		observe_dat asc
    </select>
	
    <select id="findBeaconLogs" resultMap="BeaconLogResultMap">
        select
			id,
			beacon_id,
			severity,
			"type",
			message,
			event_dat,
			settings_id
		from
			tree_data.beacon_log
		<if test="beaconId != -1 or severities != null or timespanMin != null or timespanMax != null">
		where
		</if>
			<if test="beaconId != -1">
				beacon_id = #{beaconId}
				<if test="severities != null or timespanMin != null or timespanMax != null">
					and
				</if>
			</if>
			<if test="severities != null">
				severity in 
				<foreach item="logLevel" collection="severities" separator="," open="(" close=")">
			        #{logLevel}
			    </foreach>
				<if test="timespanMin != null or timespanMax != null">
					and
				</if>
			</if>
			<if test="timespanMin != null">
				event_dat &gt;= #{timespanMin}
				<if test="timespanMax != null">
					and
				</if>
			</if>
			<if test="timespanMax != null">
				event_dat &lt;= #{timespanMax}
			</if>
		order by id desc
		<if test="offset != -1">
			offset #{offset}
		</if>
		<if test="maxLogs != -1">
			limit #{maxLogs}
		</if>
	</select>
    
    <insert id="insertBeaconDatasets">
        insert into
            tree_data.beacon_data
            (beacon_id, humidity, temperature, dew_point, observe_dat, cre_dat, mod_dat, cre_usr, mod_usr)
		values 
		    <foreach collection="datasets" item="dataset" index="index" open="(" separator="),("  close=")">
		    	#{beaconId},
		    	#{dataset.humidity},
		    	#{dataset.temperature},
		    	#{dataset.dewPoint},
		    	#{dataset.observationDate},
		    	now(),
		    	now(),
		    	user,
		    	user
	       </foreach>
	       on conflict do nothing
	</insert>
    
    <insert id="insertBeaconSettings" useGeneratedKeys="true" keyColumn="id" keyProperty="settings.id">
        insert into
            tree_data.beacon_settings
            (
				beacon_id,
				device_name,
				firmware_version_code,
				transmit_power_db,
				battery_level,
				temperature_units,
				memory_capacity,
				ref_time,
				device_id,
				phys_button_enabled,
				temperature_calibration,
				humidity_calibration,
				logging_interval_sec,
				sensor_interval_sec,
				adv_freq_ms,
				pin,
				check_dat,
				cre_dat,
				cre_usr
			)
		values 
		    (
				#{beaconId},
				#{settings.deviceName},
				#{settings.firmwareVersionCode},
				#{settings.transmitPowerDb},
				#{settings.batteryLevel},
				#{settings.temperatureUnits},
				#{settings.memoryCapacity},
				#{settings.refTime},
				#{settings.deviceId},
				#{settings.physicalButtonEnabled},
				#{settings.temperatureCalibration},
				#{settings.humidityCalibration},
				#{settings.loggingIntervalSec},
				#{settings.sensorIntervalSec},
				#{settings.advertisingFrequencyMs},
				#{settings.pin},
		    	#{settings.checkDate},
		    	now(),
		    	<if test="user == null">
		    		user
		    	</if>
		    	<if test="user != null">
		    		#{user}
		    	</if>
	    	)
	</insert>
	
	<update id="updateBeaconSettings">
		update
            tree_data.beacon_settings
        set
        	pin = #{settings.pin}
       	where
       		id = #{settings.id}
	</update>

    <select id="findLatestBeaconSettingsByBeaconId" resultMap="BeaconSettingsResultMap">
        select
			id,
			beacon_id,
			device_name,
			firmware_version_code,
			transmit_power_db,
			battery_level,
			temperature_units,
			memory_capacity,
			ref_time,
			device_id,
			phys_button_enabled,
			temperature_calibration,
			humidity_calibration,
			logging_interval_sec,
			sensor_interval_sec,
			adv_freq_ms,
			pin,
			check_dat
		from
			tree_data.beacon_settings
		where
			beacon_id = #{beaconId}
		order by
			check_dat desc
		limit 1
    </select>
    
    <insert id="insertBeaconLog">
        insert into
            tree_data.beacon_log
            (
				beacon_id,
				severity,
				"type",
				message,
				event_dat,
				settings_id,
				cre_dat,
				cre_usr
			)
		values 
		    (
				#{beaconId},
				#{log.severity},
				#{log.type},
				#{log.message},
				#{log.eventDate},
				#{log.settingsId},
		    	now(),
		    	user
	       )
	</insert>
    
    <insert id="insertBeaconLogs" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into
            tree_data.beacon_log
            (
				beacon_id,
				severity,
				"type",
				message,
				event_dat,
				settings_id,
				cre_dat,
				cre_usr
			)
		values 
		    <foreach collection="logs" item="log" index="index" open="(" separator="),("  close=")">
				#{log.beaconId},
				#{log.severity},
				#{log.type},
				#{log.message},
				#{log.eventDate},
				#{log.settingsId},
		    	now(),
		    	user
	       </foreach>
	</insert>
	
    <insert id="insertBeacon" useGeneratedKeys="true" keyColumn="id" keyProperty="beacon.id">
        insert into
            tree_data.beacon
            (
				device_id,
				tree_id,
				bluetooth_address,
				status,
				location_id,
				cre_dat,
				mod_dat,
				cre_usr,
				mod_usr
			)
		values 
		    (
		    	#{beacon.deviceId},
		    	#{beacon.tree.id},
		    	#{beacon.bluetoothAddress},
		    	#{beacon.status},
		    	#{beacon.location.id},
		    	now(),
		    	now(),
		    	#{user},
		    	#{user}
		    )
	</insert>
	
    <update id="updateBeacon" useGeneratedKeys="true" keyColumn="id" keyProperty="beacon.id">
    	update
            tree_data.beacon
        set
        	device_id = #{beacon.deviceId},
        	tree_id = #{beacon.tree.id},
        	bluetooth_address = #{beacon.bluetoothAddress},
        	location_id = #{beacon.location.id},
        	mod_dat = now(),
        	mod_usr = #{user}
       	where
       		id = #{beacon.id}
	</update>
	
    <delete id="updateBeaconStatus">
        update
			tree_data.beacon
		set
			status = #{status}
		where
			id = #{id}
	</delete>

</mapper>