<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="at.sparklingscience.urbantrees.mapper.PhenologyMapper">

    <resultMap id="PhenologyResultMap" type="at.sparklingscience.urbantrees.domain.PhenologyDataset">
	    <id column="id" 				property="id" />
	    <result column="tree_id" 		property="treeId" />
	    <result column="observers" 		property="observers" />
	    <result column="observers_ref" 	property="observersRef" />
	    <result column="observe_dat" 	property="observationDate" />
	    <result column="remark" 		property="remark" />
	    
	    <collection column="id"
				    property="observations"
				    select="findPhenologyObservationsByPhenologyId" />
				    
	    <collection column="observers_ref"
				    property="observersUserIds"
				    select="at.sparklingscience.urbantrees.mapper.ApplicationMapper.findUserIdsByRefId" />
    </resultMap>

    <resultMap id="PhenologyWithTreeResultMap"
    		   type="at.sparklingscience.urbantrees.domain.PhenologyDatasetWithTree"
    		   extends="PhenologyResultMap">
	    <collection column="tree_id"
				    property="tree"
				    select="at.sparklingscience.urbantrees.mapper.TreeMapper.findTreeById" />
    </resultMap>

    <resultMap id="PhenologyObservationMap" type="at.sparklingscience.urbantrees.domain.PhenologyObservation">
	    <id column="id" 				property="id" />
	    
		<association property="object" 	resultMap="PhenologyObservationObjectMap"/>
		<association property="result" 	resultMap="PhenologyObservationResultMap" />
    </resultMap>
    
    <resultMap id="PhenologyObservationTypeMap" type="at.sparklingscience.urbantrees.domain.PhenologyObservationType">
	    <id column="type_id" 			property="id"/>
		<result column="type" 			property="name"/>
		<result column="optional" 		property="optional"/>
		
		<collection property="objects" 	resultMap="PhenologyObservationObjectMap"/>
		<collection property="results" 	resultMap="PhenologyObservationResultMap"/>
    </resultMap>
    
    <resultMap id="PhenologyObservationObjectMap" type="at.sparklingscience.urbantrees.domain.PhenologyObservationObject">
	    <id column="object_id" 			property="id"/>
		<result column="type_id" 		property="typeId"/>
		<result column="object" 		property="name"/>
    </resultMap>
    
    <resultMap id="PhenologyObservationResultMap" type="at.sparklingscience.urbantrees.domain.PhenologyObservationResult">
	    <id column="result_id" 					property="id"/>
		<result column="result_value" 			property="value"/>
		<result column="result_description" 	property="description"/>
    </resultMap>

    <select id="findPhenologyByTreeId" resultMap="PhenologyResultMap">
        select
		    p.id,
		    p.tree_id,
		    p.observers,
		    p.observers_ref,
		    p.observe_dat,
		    p.user_remark
		from
		    tree_data.tree t,
		    tree_data.phenology p
		where
		    t.id = #{treeId}
		    and t.id = p.tree_id
		    <if test="timespanMin != null">
                and p.observe_dat &gt;= #{timespanMin}
            </if>
            <if test="timespanMax != null">
                and p.observe_dat &lt;= #{timespanMax}
            </if>
        order by
            p.observe_dat desc
    </select>

    <select id="findPhenologyById" resultMap="PhenologyResultMap">
        select
		    p.id,
		    p.tree_id,
		    p.observers,
		    p.observers_ref,
		    p.observe_dat,
		    p.user_remark
		from
		    tree_data.phenology p
		where
		    p.id = #{phenologyId}
    </select>

    <select id="findPhenologyByUserId" resultMap="PhenologyWithTreeResultMap">
        select
		    p.id,
		    p.tree_id,
		    p.observers,
		    p.observers_ref,
		    p.observe_dat,
		    p.user_remark
		from
		    tree_data.phenology p,
		    application.user_ref ur
		where
		    p.observers_ref = ur.ref_id
		    and ur.user_id = #{userId}
	    order by
	    	p.observe_dat desc
	    limit #{limit}
    </select>

    <select id="findPhenologyObservationsByPhenologyId"
            resultMap="PhenologyObservationMap">
        select
            po.id,
		    pot.id as type_id,
		    pot."name" as "type",
		    poo.id as object_id,
		    poo."name" as "object",
		    por.id as result_id,
		    por.value as result_value,
		    por.description as result_description
		from
		    tree_data.phenology p,
		    tree_data.phenology_observation po,
		    tree_data.phenology_observation_type pot,
		    tree_data.phenology_observation_object poo,
		    tree_data.phenology_observation_result por
		where
		    p.id = #{id}
		    and p.id = po.phenology_id
		    and po.observation_object_id = poo.id
		    and po.observation_result_id = por.id
		    and poo.type_id = por.type_id
		    and poo.type_id = pot.id
    </select>
    
    <insert id="insertPhenology" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into
            tree_data.phenology
            (tree_id, observers, observers_ref, observe_dat, user_remark, cre_dat, mod_dat, cre_usr, mod_usr)
		values 
		    (#{treeId}, #{observers}, #{observersRef}, #{observationDate}, #{remark}, now(), now(), user, user)
	</insert>
	
    <insert id="insertPhenologyObservation">
	    insert into
            tree_data.phenology_observation
            (phenology_id, observation_object_id, observation_result_id, cre_dat, mod_dat, cre_usr, mod_usr)
        values 
            <foreach collection="observations" item="observation" index="index" open="(" separator="),("  close=")">
                #{id},
                #{observation.object.id},
                #{observation.result.id},
                now(),
                now(),
                user,
                user
            </foreach>
	</insert>
	
    <select id="getObservationTypesForTreeSpeciesId"
            resultMap="PhenologyObservationTypeMap">
        select 
			t.id as type_id,
			t."name" as "type",
			o.id as object_id,
			o."name" as "object",
			r.id as result_id,
			r.value as result_value,
			r.description as result_description,
			ts.optional as optional
		from
			tree_data.phenology_observation_type t,
			tree_data.phenology_observation_object o,
			tree_data.phenology_observation_result r,
			tree_data.phenology_observation_type_species ts
		where
			t.id = o.type_id
			and t.id = r.type_id
			and t.id = ts.type_id
			and ts.species_id = #{treeSpeciesId}
			and ts.show = true
		order by
			t.id,
			ts.optional,
			ts."order",
			o.id,
			r.id
    </select>
    
    <select id="getAllObservationTypes"
            resultMap="PhenologyObservationTypeMap">
        select 
			t.id as type_id,
			t."name" as "type",
			o.id as object_id,
			o."name" as "object",
			r.id as result_id,
			r.value as result_value,
			r.description as result_description
		from
			tree_data.phenology_observation_type t,
			tree_data.phenology_observation_object o,
			tree_data.phenology_observation_result r
		where
			t.id = o.type_id
			and t.id = r.type_id
		order by
			t.id,
			o.id,
			r.id
    </select>
	
</mapper>