<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="at.sparklingscience.urbantrees.mapper.UiMapper">

    <cache
	  eviction="LRU"
	  flushInterval="3600000"
	  size="512"
	  readOnly="true"/>

    <resultMap id="PhenologyObservationResultImageMap" type="at.sparklingscience.urbantrees.domain.ui.ObservationResultImage">
        <id column="result_id" 				property="observationResultId" />
        <result column="tree_species_id"	property="treeSpeciesId" />
        <result column="img_data" 			property="rawImageData" />
        <result column="alt_text" 			property="alternativeText" />
    </resultMap>

    <resultMap id="AnnouncementMapper" type="at.sparklingscience.urbantrees.domain.ui.Announcement">
        <id column="id" 					property="id" />
        <result column="title" 				property="title" />
        <result column="description" 		property="description" />
        <result column="severity" 			property="severity" />
        <result column="display_from_dat" 	property="displayFromDate" />
        <result column="display_to_dat"		property="displayToDate" />
    </resultMap>

    <resultMap id="SystemStatisticsMapper" type="at.sparklingscience.urbantrees.domain.ui.SystemStatistics">
        <result column="cities" 					property="cityAmount" />
        <result column="tree" 						property="treeAmount" />
        <result column="tree_species" 				property="treeSpeciesAmount" />
        <result column="phenology" 					property="phenologyObservationAmount" />
        <result column="phenology_observation" 		property="phenologyObservationObjectAmount" />
        <result column="beacon" 					property="beaconAmount" />
        <result column="beacon_data" 				property="beaconDatasetAmount" />
    </resultMap>

    <resultMap id="MeasurementStatisticsMapper" type="at.sparklingscience.urbantrees.domain.ui.MeasurementStatistics">
        <result column="beacon_data_temp_min" 		property="beaconTempMinimum" />
        <result column="beacon_data_temp_avg" 		property="beaconTempAverage" />
        <result column="beacon_data_temp_max" 		property="beaconTempMaximum" />
        <result column="beacon_data_humidity_min" 	property="beaconHumidityMinimum" />
        <result column="beacon_data_humidity_avg" 	property="beaconHumidityAverage" />
        <result column="beacon_data_humidity_max" 	property="beaconHumidityMaximum" />
    </resultMap>
    
    <resultMap id="DateIntValueMapper" type="at.sparklingscience.urbantrees.domain.ui.DateIntValue">
        <result column="time" 				property="time" />
        <result column="value" 				property="value" />
    </resultMap>

    <select id="findImageForPhenologyObservationResult" resultMap="PhenologyObservationResultImageMap">
        select
        	result_id,
        	tree_species_id,
			img_data,
			alt_text
		from
			ui.phenology_observation_result_img
		where
			result_id = #{resultId}
			and tree_species_id = #{treeSpeciesId}
    </select>

    <select id="getCurrentAnnouncements" resultMap="AnnouncementMapper" flushCache="true">
        select
			id,
			title,
			description,
			severity,
			display_from_dat,
			display_to_dat
		from
			ui.announcement
		where
			display_from_dat &lt;= now()
			and display_to_dat &gt;= now()
		order by
			severity desc
    </select>
    
    <select id="getAllAnnouncements" resultMap="AnnouncementMapper" flushCache="true">
        select
			id,
			title,
			description,
			severity,
			display_from_dat,
			display_to_dat
		from
			ui.announcement
		order by
			mod_dat desc
    </select>
    
    <insert id="insertAnnouncement">
        insert into
	ui.announcement
		(title, description, severity, display_from_dat, display_to_dat, cre_dat, mod_dat, cre_usr, mod_usr)
	values
		(
			#{a.title},
			#{a.description},
			#{a.severity},
			#{a.displayFromDate},
			#{a.displayToDate},
			now(),
			now(),
			#{user},
			#{user}
		)
    </insert>
    
    <delete id="deleteAnnouncement">
    	delete from
			ui.announcement
		where
			id = #{aId}
    </delete>

    <select id="getSystemStatistics" resultMap="SystemStatisticsMapper">
        select
		(
			select
				count(0)
			from
				tree_data.city
		)
		as cities,
		(
			select
				count(0)
			from
			tree_data.tree
		)
		as tree,
		(
			select
				count(0)
			from
				tree_data.tree_species
		)
		as tree_species,
		(
			select
				count(0)
			from
				tree_data.phenology
		)
		as phenology,
		(
			select
				count(0)
			from
				tree_data.phenology_observation
		)
		as phenology_observation,
		(
			select
				count(0)
			from
				tree_data.beacon
		) as beacon,
		(
			select
				count(0)
			from
				tree_data.beacon_data
		) as beacon_data
    </select>
    
    <select id="getBeaconReadoutDaily" resultMap="DateIntValueMapper">
        select
			date_trunc('day', check_dat) "time",
			count(0) "value"
		from
			tree_data.beacon_settings
		where
			check_dat > date_trunc('day', now()) - INTERVAL '14 day'
		group by
			1
    </select>
    
    <select id="getPhenologyObservationDaily" resultMap="DateIntValueMapper">
        select
			date_trunc('day', observe_dat) "time",
			count(0) "value"
		from
			tree_data.phenology
		where
			observe_dat > date_trunc('day', now()) - INTERVAL '14 day'
		group by
			1
    </select>
    
    <select id="getMeasurementStatistics" resultMap="MeasurementStatisticsMapper">
		select
		(
			select
				min(temperature)
			from
				tree_data.beacon_data
		)
		as beacon_data_temp_min,
		(
			select
				min(temperature)
			from
				tree_data.beacon_data
		)
		as beacon_data_temp_avg,
		(
			select
				max(temperature)
			from
				tree_data.beacon_data
		)
		as beacon_data_temp_max,
		(
			select
				min(humidity)
			from
				tree_data.beacon_data
		)
		as beacon_data_humidity_min,
		(
			select
				avg(humidity)
			from
				tree_data.beacon_data
		)
		as beacon_data_humidity_avg,
		(
			select
				max(humidity)
			from
				tree_data.beacon_data
		)
		as beacon_data_humidity_max
    </select>
    
</mapper>