<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="at.sparklingscience.urbantrees.mapper.UserContentMapper">

    <resultMap id="UserContentMetadataResultMap" type="at.sparklingscience.urbantrees.domain.UserContentMetadata">
        <id 	column="id"					property="id" />
        <result column="content_path"		property="contentPath" />
        <result column="content_title"		property="contentTitle" />
        <result column="status"				property="status" />
        <result column="save_dat"			property="saveDate" />
        <result column="hist_id"			property="historyId" />
        <result column="prev_id"			property="previousId" />
        <result column="next_id"			property="nextId" />
        <result column="approve_dat"		property="approveDate" />
        
        <association property="contentLanguage" javaType="at.sparklingscience.urbantrees.domain.UserContentLanguage" >
            <id column="content_lang" 		property="id" />
        </association>
	    <association column="user_id"
				     property="user"
				     select="at.sparklingscience.urbantrees.mapper.AuthMapper.findUserIdentityById" />
	    <association column="approve_user_id"
				     property="approveUser"
				     select="at.sparklingscience.urbantrees.mapper.AuthMapper.findUserIdentityById" />
    </resultMap>

    <resultMap id="UserContentResultMap"
    		   type="at.sparklingscience.urbantrees.domain.UserContent"
    		   extends="UserContentMetadataResultMap">
        <result column="content"			property="content" />
    </resultMap>
    
    <resultMap id="UserContentFileResultMap" type="at.sparklingscience.urbantrees.domain.UserContentFile">
        <id 	column="id"					property="id" />
        <result column="content_path"		property="contentPath" />
        <result column="path"				property="path" />
        <result column="type"				property="type" />
        <result column="activate_cuid"		property="activateContentUid" />
        <result column="deactivate_cuid"	property="deactivateContentUid" />
        <result column="active"				property="active" />
        <result column="user_id"			property="userId" />
    </resultMap>

    <resultMap id="UserContentSaveAmountResultMap"
    		   type="at.sparklingscience.urbantrees.domain.UserContentSaveAmount">
        <result column="amount"				property="amount" />
        <result column="min_save_date"		property="minSaveDate" />
    </resultMap>

    <resultMap id="UserContentAccessResultMap"
    		   type="at.sparklingscience.urbantrees.domain.UserContentAccess">
        <id column="id"						property="id" />
        <result column="content_path"		property="contentPath" />
        <result column="enabled"			property="enabled" />
        <result column="keep_history"		property="keepHistory" />
        <result column="description"		property="description" />
        <result column="anon_allow_view"	property="anonAllowView" />
        <result column="anon_allow_edit"	property="anonAllowEdit" />
        <result column="user_allow_view"	property="userAllowView" />
        <result column="user_allow_edit"	property="userAllowEdit" />
        
	    <association column="anon_approval_by_role"
				     property="anonApprovalByRole"
				     select="at.sparklingscience.urbantrees.mapper.AuthMapper.findRoleById" />
	    <association column="user_approval_by_role"
				     property="userApprovalByRole"
				     select="at.sparklingscience.urbantrees.mapper.AuthMapper.findRoleById" />
		<collection column="id"
					property="roleAccess"
					select="findContentAccessRoleByAccessId" />
    </resultMap>
    
    <resultMap id="UserContentAccessRoleResultMap"
    		   type="at.sparklingscience.urbantrees.domain.UserContentAccessRole">
        <id column="id"						property="id" />
        <result column="content_access_id"	property="contentAccessId" />
        <result column="allow_view"			property="allowView" />
        <result column="allow_edit"			property="allowEdit" />
        
	    <association column="approval_by_role"
				     property="approvalByRole"
				     select="at.sparklingscience.urbantrees.mapper.AuthMapper.findRoleById" />
	    <association column="role_id"
				     property="role"
				     select="at.sparklingscience.urbantrees.mapper.AuthMapper.findRoleById" />
    </resultMap>
    
    <!--  TODO save new content = flushCache="true" -->
    
    <select id="findContentAccess" resultMap="UserContentAccessResultMap">
		select
			*
		from
			user_data.content_access ca
	</select>
    
    <select id="findContentAccessForPath" resultMap="UserContentAccessResultMap">
		select
			*
		from
			user_data.content_registry_access cra,
			user_data.content_access ca
		where
			cra.registry_path = #{path}
			and cra.content_access_id = ca.id
	</select>
    
    <select id="findContentAccessByExp" resultMap="UserContentAccessResultMap">
		select
			*
		from
			user_data.content_access ca 
		where
			content_path ~ #{pathExp}
	</select>
    
    <select id="findContentAccessRoleByAccessId" resultMap="UserContentAccessRoleResultMap">
		select
			*
		from
			user_data.content_access_role car 
		where
			content_access_id = #{id}
	</select>
	
	<select id="findSavedContentAmountForUserId" resultMap="UserContentSaveAmountResultMap">
		select
			count(*) as amount, min(save_dat) as min_save_date
		from
			user_data."content" c
		where
			user_id = #{userId}
			and save_dat > now() - interval '1 day'
	</select>
	
	<select id="findContentMetadataById" resultMap="UserContentMetadataResultMap">
		select
			*
		from
			user_data."content" c
		where
			c.id = #{contentUid}
	</select>
	
	<select id="countContentRegistryReferencesForPath" resultType="java.lang.Integer">
		select
			sum(counts.amount)
		from (
			select
				count(*) "amount"
			from
				user_data."content" c
			where
				c.content_path = #{contentPath}
			union all
			select
				count(*) "amount"
			from
				user_data.content_file cf
			where
				cf.content_path = #{contentPath}
		) counts
	</select>
	
	<sql id="countContentForAccessId">
		select 
			count(*)
		from
			user_data.content_registry_access cra,
			user_data."content" c
		where
			cra.content_access_id = #{accessId}
			and cra.registry_path = c.content_path
	</sql>
	
	<select id="countContentApprovedForAccessId" resultType="java.lang.Integer">
		<include refid="countContentForAccessId" />
		<include refid="sqlContentIsApproved" />
	</select>
	
	<select id="countContentApprovableForAccessId" resultType="java.lang.Integer">
		<include refid="countContentForAccessId" />
		<include refid="sqlContentIsToBeApproved" />
	</select>
	
	<select id="findContentAccessForApprover" resultMap="UserContentAccessResultMap">
		select 
			distinct ca.*
		from 
			user_data.content_access ca
		left outer join
			user_data.content_access_role car on (ca.id = car.content_access_id)
		where
			exists (
				select
					*
				from
					access_data."role" r,
					access_data.user_role ur
				where
					ur.user_id = #{approver.id}
					and	r.id = ur.role_id
					and (r.id = car.approval_by_role
					or r.id = ca.anon_approval_by_role 
					or r.id = ca.user_approval_by_role)
			)
	</select>
	
	<select id="findContentMetadataForAccessId" resultMap="UserContentMetadataResultMap">
		select 
			c.*
		from
			user_data.content_registry_access cra,
			user_data."content" c
		where
			cra.content_access_id = #{accessId}
			and cra.registry_path = c.content_path
			<foreach collection="statuses" item="s" index="index" open="and (" separator=" or "  close=")">
		    	c.status::text = #{s}
            </foreach>
	</select>
	
	<select id="findContentAccessById" resultMap="UserContentAccessResultMap">
		select 
			ca.*
		from
			user_data.content_access ca
		where
			ca.id = #{accessId}
	</select>
	
	<!-- TODO -->
	<sql id="sqlContentList">
		with recursive content_rec as (
			(
		    select
				*
			from
				user_data."content" c0
			where
				content_path = #{contentPath}
				and content_lang = #{contentLang.id}
				<choose>
				    <when test="substituteUserDrafts and userId != null">
						and (
							((status = 'DRAFT' or status = 'DRAFT_AWAITING_APPROVAL') and user_id = #{userId})
							or (status::text like 'APPROVED%')
						)
				    </when>
				    <otherwise>
				      and status::text like 'APPROVED%'
				    </otherwise>
			    </choose>
				and prev_id is null
				and (
					select
						count(*)
					from
						user_data."content"
					where
						hist_id = c0.id
						and content_path = c0.content_path
						and status::text like 'APPROVED%'
				) = 0
				order by c0.save_dat desc, c0.id desc
				limit 1
			)
		  union
		  	(
		  	select
				c.*
			from
				user_data."content" c
			inner join content_rec cr
		  		on cr.next_id = c.id
				and cr.content_path = c.content_path
				and cr.content_lang = c.content_lang
				and (
					select
						count(*)
					from
						user_data."content"
					where
						hist_id = c.id
						and content_path = c.content_path
						and status::text like 'APPROVED%'
				) = 0
				<choose>
				    <when test="substituteUserDrafts and userId != null">
						and (
							select
								count(*)
							from 
								user_data."content"
							where
								id != c.id
								and content_path = c.content_path
								and content_lang = c.content_lang
								and hist_id = c.hist_id
								and (status = 'DRAFT' or status = 'DRAFT_AWAITING_APPROVAL')
						) = 0
						and (
							((c.status = 'DRAFT' or c.status = 'DRAFT_AWAITING_APPROVAL') and c.user_id = #{userId})
							or (c.status::text like 'APPROVED%')
						)
				    </when>
				    <otherwise>
				      and c.status::text like 'APPROVED%'
				    </otherwise>
			    </choose>
			)
		)
	</sql>
	
	<sql id="sqlContentIsToBeApproved">
		and (status = 'DRAFT_AWAITING_APPROVAL'
		or status::text like '%AWAITING_DELETION')
	</sql>
	
	<sql id="sqlContentIsApproved">
		and (status = 'APPROVED'
		or status = 'APPROVED_AWAITING_DELETION')
	</sql>
	
	<select id="findContentIdListForPath" resultType="java.lang.Long">
		<include refid="sqlContentList" />
		SELECT 
			c.id
		FROM content_rec c
	</select>
	
	<select id="findContent" resultMap="UserContentResultMap">
		<include refid="sqlContentList"></include>
		SELECT 
			*
		FROM content_rec c
	</select>
	
	<select id="findContentById" resultMap="UserContentResultMap">
		select
			*
		from
			user_data."content" c
		where
			c.id = #{contentUid}
	</select>
	
	<select id="findContentForHistoryId" resultMap="UserContentResultMap">
		select 
			*
		from
			user_data."content"
		where
			hist_id = #{historyId}
	</select>
	
	<sql id="sqlHistoryList">
		with recursive content_rec as (
		    select
				*
			from
				user_data."content"
			where
				id = #{contentUid}
				and status::text like 'APPROVED%'
		  union
		  	select
				c.*
			from
				user_data."content" c
			inner join content_rec cr
		  		on cr.hist_id = c.id
	  			and cr.content_path = c.content_path
	  			and cr.content_lang = c.content_lang
				and cr.status = c.status
		)
	</sql>
	
	<select id="findContentHistory" resultMap="UserContentResultMap">
		<include refid="sqlHistoryList"></include>
		SELECT 
			*
		FROM content_rec c
	</select>
	
	<select id="findContentUserHistory" resultMap="UserContentMetadataResultMap">
		select
			*
		from
			user_data."content" c
		where
			c.user_id = #{userId}
			<if test="contentPathExp != null">
				and c.content_path ~ #{contentPathExp}
			</if>
		order by
			c.save_dat desc
		limit #{limit}
	</select>
	
	<update id="approveContentById">
		update
			user_data."content"
		set
			approve_dat = now(),
			approve_user_id = #{userId},
			mod_dat = now(),
			mod_usr = user
		where 
			id = #{contentUid}
			<include refid="sqlContentIsToBeApproved" />
	</update>
	
	<insert id="registerContent">
		insert into
			user_data.content_registry
			(
				"path"
			)
		values
			(
				#{contentPath}
			)
		on conflict
			do nothing;
		
		<if test="access != null and access.size > 0">
			insert into
				user_data.content_registry_access
				(
					registry_path,
					content_access_id
				)
			values
				<foreach collection="access" item="a" index="index" open="(" separator="),("  close=")">
			    	#{contentPath},
	                #{a.id}
	            </foreach>
			on conflict
				do nothing		
		</if>
	</insert>
	
	<delete id="deregisterContent">
		delete from
			user_data.content_registry
		where
			"path" = #{contentPath}
	</delete>
	
	<insert id="insertContent" useGeneratedKeys="true" keyColumn="id" keyProperty="c.id">
		insert into
			user_data."content"
			(
				content_path,
				content_title,
				content_lang,
				"content",
				status,
				save_dat,
				hist_id,
				prev_id,
				next_id,
				user_id,
				approve_dat,
				approve_user_id,
				cre_dat,
				mod_dat,
				cre_usr,
				mod_usr
			)
		values
			(
				#{c.contentPath},
				#{c.contentTitle},
				#{c.contentLanguage.id},
				#{c.content},
				#{c.status,jdbcType=OTHER},
				#{c.saveDate},
				#{c.historyId},
				#{c.previousId},
				#{c.nextId},
				<if test="c.user == null">
					null,
				</if>
				<if test="c.user != null">
					#{c.user.id},
				</if>
				#{c.approveDate},
				<if test="c.approveUser == null">
					null,
				</if>
				<if test="c.approveUser != null">
					#{c.approveUser.id},
				</if>
				now(),
				now(),
				user,
				user
			)
	</insert>
	
	<update id="updateContent">
		update
			user_data."content"
		set
			content_title = #{c.contentTitle},
			content = #{c.content},
			status = #{c.status,jdbcType=OTHER},
			save_dat = #{c.saveDate},
			hist_id = #{c.historyId},
			prev_id = #{c.previousId},
			next_id = #{c.nextId},
			approve_dat = #{c.approveDate},
			<if test="c.user == null">
				user_id = null,
			</if>
			<if test="c.user != null">
				user_id = #{c.user.id},
			</if>
			<if test="c.approveUser == null">
				approve_user_id = null,
			</if>
			<if test="c.approveUser != null">
				approve_user_id = #{c.approveUser.id},
			</if>
			mod_dat = now(),
			mod_usr = user
		where 
			id = #{c.id}
	</update>
	
	<update id="updateContentStatus">
		update
			user_data."content"
		set
			status = #{status,jdbcType=OTHER},
			<if test="status.name().equals('APPROVED') or status.name().equals('DRAFT')">
				approve_dat = now(),
				approve_user_id = #{approveUserId},
			</if>
			mod_dat = now(),
			mod_usr = user
		where
			id = #{contentUid}
	</update>
	
	<select id="findContentUserDraft" resultMap="UserContentMetadataResultMap">
		select
			*
		from
			user_data."content" c
		where
			c.content_path = #{contentPath}
			and c.content_lang = #{contentLang.id}
			and c.status = 'DRAFT'
			and c.user_id = #{userId}
			and (
				<if test="historyId == null">
					c.id is null
					or
					c.hist_id is null
				</if>
				<if test="historyId != null">
					c.id = #{historyId}
					or
					c.hist_id = #{historyId}
				</if>
			)
			and (
				<if test="prevId == null">
					c.prev_id is null
				</if>
				<if test="prevId != null">
					c.prev_id = #{prevId}
				</if>
			)
			and (
				<if test="nextId == null">
					c.next_id is null
				</if>
				<if test="nextId != null">
					c.next_id = #{nextId}
				</if>
			)
	</select>
	
	<delete id="deleteContent">
		delete from
			user_data."content" c
		where
			id = #{id}
	</delete>
	
	<delete id="deleteContentUserDraft">
		delete from
			user_data."content" c
		where
			id = #{id}
			and status = 'DRAFT'
	</delete>
	
	<update id="stitchContent">
		<!-- set previous -->
		<if test="c.previousId != null">
			update
				user_data."content"
			set
				next_id = #{prevNextId}
			where
				id = #{c.previousId};		
		</if>
			
		<!-- set next -->
		<if test="c.nextId != null">
			update
				user_data."content"
			set
				prev_id = #{nextPrevId}
			where
				id = #{c.nextId};		
		</if>
	</update>

	<insert id="insertContentFile" useGeneratedKeys="true" keyColumn="id" keyProperty="file.id">
		insert into
			user_data.content_file 
			(
				content_path,
				"path",
				"type",
				user_id,
				cre_dat,
				mod_dat,
				cre_usr,
				mod_usr
			)
		values
			(
				#{contentPath},
				#{file.path},
				#{file.type},
				#{file.userId},
				now(),
				now(),
				user,
				user
			)
	</insert>
	
	<update id="updateActivateContentFile">
		update
			user_data.content_file
		set
			activate_cuid = #{contentUid},
			active = true,
			mod_dat = now(),
			mod_usr = user
		where 
			id = #{id}
			and activate_cuid is null
			and active = false
			<if test="user == null">
				and user_id is null
			</if>
			<if test="user != null">
				and user_id = #{user.id}
			</if>
	</update>
	
	<update id="updateDeactivateContentFile">
		update
			user_data.content_file
		set
			deactivate_cuid = #{contentUid},
			active = false,
			mod_dat = now(),
			mod_usr = user
		where 
			id = #{id}
			and activate_cuid is not null
			and deactivate_cuid is null
			and active = true
	</update>
	
	<delete id="deleteContentFile">
		delete from
			user_data.content_file
		where 
			id = #{id}
	</delete>
	
	<select id="findContentFile" resultMap="UserContentFileResultMap">
		select
			*
		from 
			user_data.content_file
		where
			id = #{id}
	</select>
	
	<select id="findContentFiles" resultMap="UserContentFileResultMap">
		select
			*
		from 
			user_data.content_file
		where
			id in
			<foreach collection="ids" item="id" index="index" open="(" separator=","  close=")">
		    	#{id}
            </foreach>
	</select>
	
	<select id="findActiveContentFilesForContentUid" resultType="java.lang.Long">
		<include refid="sqlHistoryList"></include>
		select 
			cf.id
		from
			content_rec c,
			user_data.content_file cf
		where
			c.id = cf.activate_cuid
			and cf.active = true
	</select>
	
	<select id="findInactiveContentFilesForContentPathAndUser" resultMap="UserContentFileResultMap">
		select 
			cf.id,
			cf."path",
			cf."type",
			cf.activate_cuid,
			cf.deactivate_cuid,
			cf.active
		from
			user_data.content_file cf
		where
			cf.content_path = #{contentPath}
			<if test="user == null">
				and cf.user_id is null
			</if>
			<if test="user != null">
			and cf.user_id = #{user.id}
			</if>
			and cf.activate_cuid is null
	</select>

</mapper>